<div class="user-details">
  <h1>My Profile - I Wanna Relax (<a href="/music" target="blank">Music</a>)</h1>
  <p>
    <img src="/tinh.jpg" alt="Tinh Lam Profile" title="Tinh Lam - Ethical Hacker" />
  </p>
</div>
<div id="contents">
    <h1 class="c29"><span class="c19 c38">TECHNICAL EXPERTISES</span></h1>
    <ul class="c6 lst-kix_list_4-0">
        <li class="c12"><span class="c9">Programming skills:</span></li>
    </ul>
    <ul class="c6 lst-kix_list_5-1 start">
        <li class="c18"><span class="c0">Web: Web API, Flutter, Javascript, jQuery, NodeJS, PHP, VueJs, ReactJS</span></li>
        <li class="c18"><span class="c0">C/C++: STL</span></li>
    </ul>
    <ul class="c6 lst-kix_list_6-1 start">
        <li class="c12"><span class="c9">Methodologies and practices:</span><span class="c0"> OOP, Design patterns</span></li>
    </ul>
    <ul class="c6 lst-kix_list_7-1 start">
        <li class="c12"><span class="c9">IDEs:</span><span class="c0"> Android Studio, VSCode, Linux</span></li>
    </ul>
    <ul class="c6 lst-kix_list_4-1 start">
        <li class="c14 c16"><span class="c9">Database platforms: </span><span class="c0">MySQL, SQLite, MongoDB</span></li>
    </ul>
    <ul class="c6 lst-kix_list_19-0 start">
        <li class="c16 c14"><span class="c9">Pentest tools: BurpSuite, Fiddler, IDA        </span></li>
    </ul>
    <h1 class="c29"><span class="c19 c38">CAREER HIGHLIGHTS</span></h1>
    <p class="c21"><span class="c0">Có nhiều kinh nghiệm về Linux</span></p>
    <p class="c21"><span>Có </span><span class="c0">kiến thức cơ bản về ReactJs, NodeJS, Flutter</span></p>
    <p class="c21"><span>Phân tích công nghệ và </span><span class="c0">tích hợp ứng dụng với các thư viện bên thứ ba phù hợp</span></p>
    <p class="c21"><span class="c0">Kinh nghiệm phân tích và thiết kế cơ sở dữ liệu: MySQL, SQLite, Linux</span></p>
        <h1 class="c29"><span class="c19 c38"> PERSONAL ATTRIBUTES</span></h1>
    <ul class="c6 lst-kix_list_4-0">
        <li class="c5"><span class="c34">Ý thức trách nhiệm, cẩn thận trong tất cả các công việc được giao.</span></li>
    </ul>
    <p class="c23"><span class="c33"></span></p>
    <ul class="c6 lst-kix_list_4-0">
        <li class="c5"><span class="c34">Có thể nghiên cứu công nghệ mới một cách nhanh chóng.</span></li>
    </ul>
    <p class="c23"><span class="c33"></span></p>
    <ul class="c6 lst-kix_list_4-0">
        <li class="c5"><span class="c34">Có khả năng làm việc nhóm hoặc độc lập.</span></li>
    </ul>
    <p class="c23"><span class="c33"></span></p>
    <ul class="c6 lst-kix_list_4-0">
        <li class="c5"><span class="c34">Có khả năng làm việc với áp lực cao.</span></li>
    </ul>
    <p class="c23"><span class="c33"></span></p>
    <ul class="c6 lst-kix_list_4-0">
        <li class="c5"><span class="c34">Có kinh nghiệm tốt trong nghành công nghiệp phần mềm.</span></li>
    </ul>
    <p class="c23"><span class="c33"></span></p>
    <ul class="c6 lst-kix_list_4-0">
        <li class="c5"><span class="c34">Có khả năng tự tìm hiểu tốt.</span></li>
    </ul>
    <h1 class="c29"><span class="c19 c38">WORK HISTORY</span></h1>
    <h2 class="c27"><span class="c36">Freelancer</span><span class="c1">        2021 – Present</span></h2>
    <p class="c7"><span class="c1">Nhận làm các dự án của cá nhân và tổ chức doanh nghiệp, hoặc phát triển modules tích hợp vào các hệ thống, pentest các loại hệ thống như hệ thống thương mại điện tử, hệ thống bitcoin,…</span></p>
    <ol class="c6 lst-kix_list_1-0 start" start="1">
        <li class="c32">
            <h3 style="display:inline"><span class="c8 c1">Learning Management System</span></h3></li>
    </ol>
    <a id="t.0b7e886f24477201ddd4cc826bac6c159e981206"></a>
    <a id="t.0"></a>
    <table class="c2">
        <tbody>
            <tr class="c3">
                <td class="c13" colspan="1" rowspan="1">
                    <p class="c7"><span class="c9">Duration</span></p>
                </td>
                <td class="c15" colspan="1" rowspan="1">
                    <p class="c7"><span class="c1">2020 - 2021</span></p>
                </td>
            </tr>
            <tr class="c17">
                <td class="c13" colspan="1" rowspan="1">
                    <p class="c7"><span class="c9">Position</span></p>
                </td>
                <td class="c15" colspan="1" rowspan="1">
                    <p class="c7"><span class="c0">Freelance Hacker</span></p>
                </td>
            </tr>
            <tr class="c3">
                <td class="c13" colspan="1" rowspan="1">
                    <p class="c7"><span class="c9">Project Description</span></p>
                    <p class="c4"><span class="c9"></span></p>
                </td>
                <td class="c15" colspan="1" rowspan="1">
                    <p class="c7"><span class="c1">Phát triển hệ thống giáo dục trong mùa covid</p>
                </td>
            </tr>
            <tr class="c3">
                <td class="c13" colspan="1" rowspan="1">
                    <p class="c7"><span class="c9">My Responsibilities</span></p>
                </td>
                <td class="c15" colspan="1" rowspan="1">
                    <ul class="c6 lst-kix_list_2-0 start">
                        <li class="c7 c14"><span class="c1">Coding </span></li>
                        <li class="c7 c14"><span class="c1">Fix bug</span></li>
                    </ul>
                </td>
            </tr>
            <tr class="c3">
                <td class="c13" colspan="1" rowspan="1">
                    <p class="c7"><span class="c9">Technologies</span></p>
                </td>
                <td class="c15" colspan="1" rowspan="1">
                    <ul class="c6 lst-kix_list_2-0">
                        <li class="c7 c14"><span class="c1">PHP, JavaScript</span></li>
                        <li class="c7 c14"><span class="c1">MySQL</span></li>
                        <li class="c7 c14"><span class="c1">Native App</span></li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
    <p class="c4"><span class="c0"></span></p>
    <p class="c4"><span class="c0"></span></p>
</div>
